.skill-card-container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
    margin-bottom: 60px;
}

.skill-card-title{
    font-size: 1.8rem;
    font-weight: bold;
    line-height:20px;

}

.skill-card-image{
    width: 70px;
    height: auto;
}

.skill-card-info-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.title-skillCompany-container{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

.skill-card-desc{
    text-align: start;
}