
.home-parent-div {
    height: 100vh;
    width: 100%;
}

.home-parent-div{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    /* background-image: url(../../public/assests/images/gbg3.jpg); */
    background-image: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    background-size: 300%;
    /* background-repeat: no-repeat; */
    /* background-position: center center; */
    z-index: -3;
    /* opacity: 0.5; */
    /* animation: gradientChange 20s infinite alternate; */
}

.bg-filter-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    /* backdrop-filter: blur(10px); */
    z-index: -2;
}

.bg-cherry-gf{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-image: url(../../public/assests/gif/gif2.gif); */
    /* background-repeat: no-repeat; */
    background-size: contain;
    z-index: -1;
    opacity: 0.08;
}

@keyframes gradientChange {
    0% {
      background-position: left;
    }
    100% {
      background-position: right;
    }
  }
  