.home-parent-div {
  height: 100vh;
  width: 100%;
  padding: 40px;
}

.home-parent-div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  background-image: url(../../public/assests/images/bg11.jpg);
  /* background-image: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); */
  /* background-image: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 128, 1) 100%); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -3;
  /* opacity: 0.5; */
  /* animation: gradientChange 20s infinite alternate; */
}

.bg-filter-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  /* backdrop-filter: blur(10px); */
  z-index: -2;
}

.bg-cherry-gf {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background-image: url(../../public/assests/gif/gif2.gif); */
  /* background-repeat: no-repeat; */
  background-size: contain;
  z-index: -1;
  opacity: 0.08;
}

.profile-pic-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.my-info {
  width: auto;
  height: auto;
  /* border: 2px solid yellow; */
  padding: 10px;
}

.profile-pic {
  width: 240px !important;
  height: 240px !important;
  border-radius: 100%;
  overflow: hidden;
}

.profile-pic-avatar {
  width: 100%;
  height: auto;
  /* aspect-ratio: 1/1; */
  transform: translate(-10px, -70px) scale(1.1);
  transition: width 0.3s ease, height 0.3s ease;
}

/* 
.profile-pic-avatar.hovered {
  width: 260px !important;
  height: 260px !important;
  transition: width 0.3s ease, height 0.3s ease;

} */

.typography-color {
  color: white;
}

.name-div {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.greeting {
  color: lightgray;
  font-size: 1.2rem;
  /* font-weight: bold; */
  transition: all 0.2s ease-in-out;

}

.my-name {
  color: lightgray;
  font-size: 2.5rem;
  font-weight: 700;
  transition: all 0.2s ease-in-out;

}

.name-div:hover>.greeting,
.name-div:hover>.my-name,
.name-div:hover>.description {
  color: white;
  transition: all 0.2s ease-in-out;
}

.description {
  font-size: 0.9rem;
  text-align: start;
  color: lightgray;
  width: 70%;
}

.skills-main-wrapper {
  width: 100%;
  height: 100%;
  /* display: flex;
  align-items: center;
  justify-content: flex-start; */
  /* gap: 15px; */
  /* flex-wrap: wrap; */
  padding: 10px;
  padding-top: 25px;
}

.grid-item-skills {
  width: 100%;
  flex: 1;
}

.skill-icon {
  height: 35px;
  width: auto;
  transition: all 0.3s ease-in-out;

}

.contact-main-info {
  text-align: start;
  color: lightgray;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  margin-top: 5px;
}

.contact-icon {
  height: 45px;
  width: auto;
  /* flex: 1; */
  transition: all 0.3s ease-in-out;

}

.contact-icon-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-icon:hover,.skill-icon:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.work-swiper-container{
  height: 90%;
  width: 100%;
  /* border: 1px solid black; */
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slider-work{
  overflow: hidden;
}

.swiper-image{
  width: 100%;
  height: auto;
  border-radius: 10px;
}

@keyframes gradientChange {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}