.styled-heading{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-text-color);
    text-align: start;
    width: 100%;
    /* margin: 20px 0 70px 0; */
    box-sizing: border-box;
}

.styled-sub-heading{
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-text-color);
}

.main-heading{
    font-size: 5rem;
}