.blurcard {
    height: 200px;
    width: 600px;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.0));
    background-size: 200%;
    /* border: 2px solid rgba(255, 255, 255, 0.12); */
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.2),
        0 6px 15px rgba(0, 0, 0, 0.2),
        0 12px 24px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.1s;
    /* padding: 10px; */
    /* border: 2px solid rgba(255, 255, 255, 0.295); */
}

.blurcard:hover{
    transform: scale(1.05);
    transition: all 0.1s;
    z-index: 999;

}

.blur-card-title{
    letter-spacing: 1px;
}